body,
html {
  height: 100%;
}

#homepage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1fr;
  grid-template-rows: 1;
  align-items: center;
  box-shadow: 0 2px 25px 5px;
  z-index: 1;
}

#homepage-body {
  flex-grow: 1;
  background-color: rgb(157, 255, 186);
  z-index: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  /* position: absolute; */
}
